*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

/* HELPERS */

.g-hidden {
    display: none;
}

.g-content-row {
    margin-bottom: 10px;
}

.g-clearfix:before,
.g-clearfix:after {
    content: '\0020';
    clear: both;
    display: table;
}

.g-text-right {
    text-align: right;
}

/* PAGE */

.page {
    width: 100%;
    font-family: Arial, sans-serif;
    background: #f8f8f8 /* #f8f8f8 */;
    font-size: 11px;
}

.page__header {
    padding-top: 20px;
}

.link {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

.header_row {
    border-bottom: 1px solid #c6c7ca;
}

.container {
    max-width: 990px;
    position: relative;
    margin: 0 auto;
}

.header__logo {
    color: #222222;
    font-weight: 700;
    float: left;
    width: 50%;
    position: relative;
}

.header__info {
    float: right;
    text-align: right;
    width: 50%;
    margin-bottom: 15px;
}

/* LOGO */

.logo {
    width: 100%;
}

.logo_header {
    font-size: 51px;
    position: absolute;
    top: -15px;
}

.logo__complex {
    position: relative;
    font-size: inherit;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
}

.logo-name {
    display: inline-block;
}

.logo-name__first-letter {
    color: #adabab;
}

.logo-block {
    color: #f8f8f8;
    font-weight: 700;
    border-radius: 2px;
    line-height: 1;
}

.logo-block_header {
    position: absolute;
    top: -55px;
    right: -250px;
    background-color: #81d8d0;
    font-size: 15px;
    padding: 5px;
}

/* INFO FOR USER */

.header-info__settings {
    display: inline-block;
    margin-right: 15px;
}

.header-info__row_mgb {
    margin-bottom: 15px;
}

.user-settings__setting-name {
    display: inline;
}

.user-settings__options {
    display: inline-block;
    line-height: 0;
}

.user-options__option {
    display: inline-block;
    margin-left: 8px;

}

.button {
    border-radius: 3px;
    line-height: 0.8;
    background-image: linear-gradient(180deg, white 0%, #c7c7c7 100%);
    box-shadow: 0 1px 0 #c2b9b9;
    padding: 4px 5px;
}

.button_active {
    background-image: linear-gradient(to top, #070707 0%, #252525 100%);
    box-shadow: 0 1px 0 #000000;
    color: #ffffff;
}

.user-actions-text_primary {
    color: #81d8d0;
}

.user-actions-text_secondary {
    color: #ff7272;
}

/* SHOPPING CART */

.header-info__shopping-cart {
    display: inline-block;
}

.shopping-cart-box__info {
    background-image: linear-gradient(to top, #070707 0%, #252525 100%);
    border-radius: 5px;
    position: relative;
    bottom: 10px;
    
}

.shopping-cart-box__item {
    color: #ffffff;
    padding: 10px 50px 10px 10px;
    margin-left: 50px;
    border-left: 1px dotted #484848;
    display: block;
    position: relative;
}

.shopping-cart-box__item:before{
    content: '\0020';
    background: url('../img/cart.png') no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    left: -40px;
    top: 10px;
}

.shopping-cart-box__item:after{
    content: '\0020';
    background: url('../img/cart-btn.png') no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 130px;
    top: 25px;
}

.shopping-cart-name {
    text-transform: uppercase;
}

.shopping-cart-bill {
    color: #8a8989;
}

/* HEADER NAV */

.header-nav_row {
    background-image: linear-gradient(to top, #f8f8f8 0%, #dcdee1 100%);
    padding: 10px 0;
    border-bottom: 1px solid #c6c7ca;
}

.search__input, .search__btn {
    float: left;
}

.search-input {
    width: 290px;
    border-radius: 3px;
    border: 1px solid #c6c7ca;
    margin-right: 5px;
    padding: 3px 0 4px;
}

.button-search {
    background-image: linear-gradient(to top, #070707 0%, #252525 100%);
    padding: 12px 20px;
    border-radius: 3px;
    line-height: 0;
    border: none;
    position: relative;
}

.button-search:before {
    content: '\0020';
    background: url('../img/search.png') no-repeat;
    height: 10px;
    width: 10px;
    position: absolute;
    left: 15px;
    top: 7px;
}

.header__menu {
    float: right;
    margin-top: 3px;
}

.main-menu__item_header {
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
}

.main-menu__item:last-of-type {
    margin-right: 0;
}

.main-menu__item-link {
    padding-left: 25px;
    position: relative;
}

.main-menu__item-link_header {
    color: #a8a9aa;
}

.main-menu__item-link:before {
    content: '\0020';
    background-image: linear-gradient(180deg, white 0%, #c7c7c7 100%);
    height: 13px;
    width: 13px;
    position: absolute;
    left: -1px;
    border-radius: 2px;
}

.main-menu__item-link:after {
    content: '\0020';
    background: url('../img/nav-btn.png') no-repeat;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 4px;
    left: 5px;
    border-radius: 2px;
}

.main-menu__item-link_active {
    color: #000000;
}

/* MAIN CONTENT */

.container_main {
    padding: 15px 20px;
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}

/* ASIDE */

.container__aside {
    float: left;
    min-width: 150px;
    margin-right: 10px;
}

.aside__menu {
    background-image: linear-gradient(to top, #070707 0%, #252525 100%);
    border-radius: 5px;
    padding: 11px 10px;
}

/* NAVIGATION */

.menu__item {
    color: #685f5f;
    border-bottom: 1px solid #685f5f;
    line-height: 10px;
}

.menu__item:first-of-type .menu__item-link {
    padding-top: 0;
}

.menu__item:last-of-type {
    border-bottom: none;
}

.menu__item:last-of-type .menu__item-link {
    padding-bottom: 0;
}

.menu__item-link {
    text-transform: uppercase;
    display: block;
    padding: 8.5px 0;
    line-height: 9px;
    color: #685f5f;
    position: relative;
}

.menu__item-link:after {
    content: '\0020';
    background: url('../img/arrow-right.png') no-repeat;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 7px;
    left: 120px;
}

.menu__item-link:before {
    content: '\0020';
    background-image: linear-gradient(180deg, white 0%, #c7c7c7 100%);
    height: 15px;
    width: 15px;
    opacity: 0.3;
    position: absolute;
    top: 4px;
    left: 115px;
    border-radius: 50%;
}

.menu__item-link_active {
    text-transform: uppercase;
    color: #685f5f;
    position: relative;
}

.menu__item-link_active:after {
    background: url('../img/arrow-down.png') no-repeat;
    top: 2px;
    left: 117.5px;
}

.menu__item-link_active:before {
    background-image: linear-gradient(180deg, white 0%, #c7c7c7 100%);
    top: -3px;
    opacity: 1;
}

.menu__item-submenu {
    display: none;
    padding: 5px 0 14px 10px;
    line-height: 13px;
    border-top: 1px solid #685f5f;
}

.menu__item-submenu_active {
    display: block;
}

.submenu__item {
    padding-bottom: 2px;
}

.submenu__item:last-of-type {
    padding-bottom: 0;
}

.submenu__item-link {
    color: #8a8989;
}

.submenu__item-link_active {
    color: #ffffff;
}

.submenu__item-text_active{
    color: #81d8d0;
}

/* END NAVIGATION */

.social-link {
    font-size: 12px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    color: #ffffff;
    display: block;
    padding: 12px 0 12px 40px;
    position: relative;
    margin-bottom: 5px;
    border-radius: 5px;
    line-height: 0.7;
}

.social-link:after {
    content: '\0020';
    background: url("../img/social-arrow.png") no-repeat;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 11px;
    right: 0;
}

.social-link:before {
    content: '\0020';
    height: 25px;
    width: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
}

.social__link:last-of-type {
    margin-bottom: 0;
}

.social-link_fb {
    background-color: #2f54a6;
}

.social-link_fb:before {
    background: url("../img/fb.png") no-repeat;
}

.social-link_is {
    background-color: #f83b01;
}

.social-link_is:before {
    background: url("../img/is.png") no-repeat;
}

/* END ASIDE */

.container__main-content {
    float: left;
}

.content-row {
    margin-bottom: 10px;
}

/* SLIDER */

.slider-general__content {
    position: relative;
}

.slide-content {
    position: relative;
}

.slide-content__info-box {
    position: absolute;
    right: 0;
    top: 265px;
    display: block;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 10px 150px 10px 15px;
    border-radius: 5px;
    line-height: 1.2;
}

.slide-content__info-text {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.slide-content__info-text:after {
    content: '\0020';
    background: #81d8d0 url("../img/slider-btn.png") no-repeat center center;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 10px;
    right: 110px;
    border-radius: 50%;
}

.slider__navigation {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 9px;
    position: absolute;
    bottom: 5px;
    left: 3px;
    border-radius: 5px;
}

.slider-nav__item {
    float: left;
    margin-right: 10px;
}

.slider-nav__item:last-of-type {
    margin-right: 0;
}

/* END SLIDER */

/* BANNERS */

.banners__item {
    float: left;
    margin-right: 10px;
}

.banners__item:last-of-type {
    margin-right: 0;
}

.banner__content {
    position: relative;
}

.banner__btn {
    position: absolute;
    background: url("../img/banner-btn.png") no-repeat 10px center;
    bottom: 15px;
    right: 20px;
    text-transform: uppercase;
    padding: 12px 80px;
    border-radius: 15px;
}

.banner__btn:after {
    content: '\0020';
    background: url("../img/arrow-right.png") no-repeat center center;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 7px;
    right: 5px;
    border-radius: 50%;
}

.banner__btn_primary {
    background-color: #81d8d0;
}

.banner__btn_secondary {
    background-color: #ff7272;
}

/* END BANNERS */

/* DAY DEALS */

.day-deals {
    border: 1px solid #dfe1e4;
    border-radius: 5px;
    padding: 30px 10px 20px 25px;
}

.day-deals__title {
    float: left;
    margin-right: 15px;
    max-width: 210px;
    padding-top: 15px;
}

.day-deals__title-main {
    font-size: 51px;
    font-weight: 600;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 45px;
}

.day-deals__title-text {
    font-size: 41px;
    color: #81d8d0;
    display: block;
}

.day-deals__title-extra {
    color: #767575;
    font-size: 16px;
    display: block;
    line-height: 4px;
    max-width: 155px;
}

.day-deals__title-sale {
    color: #1b1b1b;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
}

.day-deals__title-offer {
    color: #81d8d0;
    font-weight: 600;
}

.day-deals__offer {
    float: right;
}

.day-offer {
    position: relative;
}

.button-general {
    float: left;
    padding: 14px 10px;
}

.button-general_day-offer {
    margin-top: 75px;
}

.button-general_next {
    background: url("../img/deals-right-arr.png") no-repeat center;
}

.button-general_prev {
    background: url("../img/deals-left-arr.png") no-repeat center;
}

.day-offer__items {
    float: left;
}

.day-items__item {
    float: left;
    margin-right: 10px;
    text-align: center;
    max-width: 155px;
}

.day-item__img {
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
}

.day-item__title {
    color: #b2b2b2;
    font-size: 12px;
    text-decoration: underline;
    display: block;
}

.day-item__brand {
    text-transform: uppercase;
}

.day-item__price-new {
    font-size: 12px;
    font-weight: 700;
    color: #81d8d0;
}

.day-item__price-old {
    text-decoration: line-through;
    font-size: 11px;
    color: #81d8d0;
}

/* END DAY DEALS */

/* SPECIAL DEALS */

.content-row_last {
    margin-bottom: 20px;
}

.special-offers__offer {
    border: 1px solid #dfe1e4;
    border-radius: 5px;
    position: relative;
    margin-right: 10px;
    max-width: 190px;
    text-align: center;
    float: left;
}

.special-offers__offer:last-of-type {
    margin-right: 0;
}

.product-item {
    padding: 20px 10px 10px 8px;
    display: block;
}

.item__title {
    color: #b2b2b2;
    font-size: 12px;
    text-decoration: underline;
    display: block;
    min-height: 30px;
    max-height: 30px;
    overflow: hidden;
}

.item__title-brand {
    text-transform: uppercase;
}

.item-label {
    background-color: #81d8d0;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    max-width: 60px;
    padding: 5px;
    color: #ffffff;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 65px;
}

.item-label:after {
    content: '\0020';
    position: absolute;
    background: url("../img/sp-offer-shadow.png") no-repeat center center;
    height: 98px;
    width: 10px;
    top: -32px;
    left: -1px;
}

.item-label__text {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, sans-serif;
}

.item-label__text_accent {
    font-size: 14px;
    font-weight: 700;
}

.item__img {
    min-height: 145px;
    max-height: 145px;
    margin: 10px auto 0;
    overflow: hidden;
}

.item-price {
    color: #81d8d0;
    float: left;
    text-align: left;
    margin-bottom: 10px;
}

.item-price__new {
    font-size: 17px;
    font-weight: 700;
}

.item-price__old {
    text-decoration: line-through;
}

.item__details-btn {
    padding: 7px 20px 7px 10px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    float: right;
    background-image: linear-gradient(to top, #545454 0%, #5e5e5e 100%);
    /*background-image: linear-gradient(to top, #ed6464 0%, #ff7272 100%);
    box-shadow: 0 1px 0 #ae4a4a;*/
    box-shadow: 0 1px 0 #262626;
    border-radius: 2px;
    line-height: 0.9;
    position: relative;
}

.item__details-btn:after {
    content: '\0020';
    background: url("../img/social-arrow.png") no-repeat center center;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 7px;
    right: 5px;
}

.item__description {
    color: #414141;
    text-align: left;
    word-break: break-all;
    margin-bottom: 10px;
    line-height: 1.5;
}

.item__brand-img {
    float: left;
}

/* END SPECIAL DEALS */

/* SLIDER BRANDS */

.brands {
    display: flex;
    justify-content: space-between;
}

.button-general_brands {
    flex-grow: 1;
}

.slider-brands {
    width: 100%;
    flex-grow: 22;
    padding: 0 25px 0 40px;
    display: flex;
    align-items: center;
}

.slider-brands__brand {
    flex-grow: 1;
    flex-basis: 0;
}

.brand-img {
    width: inherit;
    height: auto;
}

/* END SLIDER BRANDS */

/* FOOTER */

.container_footer {
    background-color: #f4f4f4;
    padding: 30px 20px 30px 0;
}

.footer__navigation {
    float: left;
}

.footer-navigation {
    min-width: 650px;
    display: flex;
    align-items: stretch;
}

.footer-menu {
    padding-left: 20px;
    flex-grow: 1;
    flex-basis: 0;
    border-right: 1px solid #cacaca;
    color: #131313;

}

.footer-menu__header {
    color: #070707;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.main-menu__item_footer {
    margin-bottom: 10px;
}

.main-menu__item_footer:hover {
    color: #f65423;
}

.footer__company-info {
    text-align: right;
    float: right;
}

.logo_footer {
    font-size: 33px;
    color: #adabab;
    margin-top: 40px;
}

.logo-name_footer {
    padding-right: 40px;
}

.logo-block_footer {
    position: absolute;
    bottom: 15px;
    left: 165px;
    background-color: #adabab;
    font-size: 10px;
    padding: 4px 3px;
}

.footer__rights {
    margin-top: 5px;
    color: #222;
    font-family: Arial, sans-serif;
}

/* SHADOWS */

.container__beauty {
    content: "\0020";
    background: url('../img/container-shadow.png') no-repeat;
    height: 10px;
    width: 990px;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 2;
}