.row {
    padding: 0 -5px;
}

.row:before,
.row:after{
    content: '';
    clear: both;
    display: block;
}

[class*="cell-"] {
    float: left;
    margin: 0 5px;
}

.cell-1 {
    width: 4.16663%;
}

.cell-2 {
    width: 8.3333%;
}

.cell-3 {
    width: 12.5%;
}

.cell-4 {
    width: 16.6666%;
}

.cell-5 {
    width: 20.83331%;
}

.cell-6 {
    width: 25%;
}

.cell-7 {
    width: 29.16661%;
}

.cell-8 {
    width: 33.33332%;
}

.cell-9 {
    width: 37.5%;
}

.cell-10 {
    width: 41.6667%;
}

.cell-11 {
    width: 45.83337%;
}

.cell-12 {
    width: 50%;
}

.cell-13 {
    width: 54.16671%;
}

.cell-14 {
    width: 58.3333%;
}

.cell-15 {
    width: 62.5%;
}

.cell-16 {
    width: 66.66672%;
}

.cell-17 {
    width: 70.83335%;
}

.cell-18 {
    width: 75%;
}

.cell-19 {
    width: 79.16673%;
}

.cell-20 {
    width: 83.3334%;
}

.cell-21 {
    width: 87.5%;
}

.cell-22 {
    width: 91.6667%;
}

.cell-23 {
    width: 95.83337%;
}

.cell-24 {
    width: 100%;
}

.cell-offset-1 {
    margin-left: 4.16663%;
}

.cell-offset-2 {
    margin-left: 8.3333%;
}

.cell-offset-3 {
    margin-left: 12.5%;
}

.cell-offset-4 {
    margin-left: 16.6666%;
}

.cell-offset-5 {
    margin-left: 20.83331%;
}

.cell-offset-6 {
    margin-left: 25%;
}

.cell-offset-7 {
    margin-left: 29.16661%;
}

.cell-offset-8 {
    margin-left: 33.33332%;
}

.cell-offset-9 {
    margin-left: 37.5%;
}

.cell-offset-10 {
    margin-left: 41.6667%;
}

.cell-offset-11 {
    margin-left: 45.83337%;
}

.cell-offset-12 {
    margin-left: 50%;
}

.cell-offset-13 {
    margin-left: 54.16671%;
}

.cell-offset-14 {
    margin-left: 58.3333%;
}

.cell-offset-15 {
    margin-left: 62.5%;
}

.cell-offset-16 {
    margin-left: 66.66672%;
}

.cell-offset-17 {
    margin-left: 70.83335%;
}

.cell-offset-18 {
    margin-left: 75%;
}

.cell-offset-19 {
    margin-left: 79.16673%;
}

.cell-offset-20 {
    margin-left: 83.3334%;
}

.cell-offset-21 {
    margin-left: 87.5%;
}

.cell-offset-22 {
    margin-left: 91.6667%;
}

.cell-offset-23 {
    margin-left: 95.83337%;
}