@font-face {
    font-family: 'pt_sansregular';
    src: url('fonts/PT SansRegular/PTS55F-webfont.eot');
    src: url('fonts/PT SansRegular/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/PT SansRegular/PTS55F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$main-color: #c62a31;
$header-color: #ffffff;
$text-color: #454545;
$text-color-sec: #778081;